{% extends 'base.html' %}
{% block modulo_tablero %}
	<h1> tablero / modulo principal </h1>
{% endblock %}
  
{% block content %}
<div>[<a href="/admin" TARGET='_blank'><<< administrador de datos >>></a>] | [<a href="/admin/logout/"><<< salir de la sesion >>></a>]</div> 
 <div class="title_panel"><h4> excursiones contratadas </h4></div>
 <div class="title_panel"><h4> excursiones </h4></div>
 <div class="clear"></div>
 <div class="panel"> 
 	<ul>
 	{% for p in products %}
 		<li>
 			{{ p.excurtion.study.region.name }} | {{ p.excurtion.study.country.name}} | {{p.excurtion.name}} | {{p.excurtion.date_from }} | <a href=""> borrar </a> | <a href=""> editar </a> | <a href="/products/{{p.id}}" TARGET='_blank'> ver </a>  
 		</li>	
 	{% endfor %}
 	</ul>
 	<div class="bottom_toolbar"> 
 	<a href="/products"> ver mas </a></div>
 </div>
 <div class="panel">
 	<ul>
 	{% for e in excurtions %}
 		<li>
 			{{e.name}} | {{e.date_from}} | {{ date_to }} | <a href="/excurtions/{{e.id}}/delete"> borrar </a> | <a href=""> editar </a> | <a href="/excurtions/{{p.id}}" TARGET='_blank'> ver </a> 
 		</li>	
 	{% endfor %}
 	</ul>
	<div class="bottom_toolbar"> 
	 	<a href="/excurtions"> ver mas </a>
	</div>
 </div>
  <div class="clear"></div>
 <div class="title_panel"><h4> clientes </h4></div>
 <div class="title_panel"><h4> notificaciones </h4></div>
 <div class="panel">
 	<ul>
 	{% for c in clients %}
 		<li>
 		{{c.name}} | {{c.last_name}} | {{c.email}} | <a href="/clients/{{c.id}}" TARGET='_blank'> ver </a> | <a href="/clients/{{c.id}}/delete"> borrar </a> | <a href=""> editar </a> | <a href=""> enviar email </a>   
 		</li>	
 	{% endfor %}
 	</ul>
 	<div class="bottom_toolbar"> 
 	<a href="/clients"> ver mas </a></div>
 </div>
 <div class="panel">
 	<ul>
 	{% for n in notifications %}
 		<li>
 			{{ n.description }} | {{ n.created }} <br />
 		</li>	
 	{% endfor %}
 	</ul>
 	<div class="bottom_toolbar"> 
 		<a href="/notifications"> ver mas </a>
 	</div>
 </div>
 <div class="clear"></div>
{% endblock %}