{% extends 'base.html' %}

{% block modulo_tablero %}
	<h1> detalle de excursion contratada </h1>
{% endblock %}

{% block content %}
		<div>
			<a href="/">[<<< tablero principal]</a> 
			<a href="/">enviar email</a>
		</div>
		<div class="title_panel principales">
			<h4> datos principales </h4>
		</div>
		<div class="title_panel economicos">
			<h4> datos economicos </h4>
		</div>
		<div class="clear"> </div>
		<div class="panel principales">
			<p> Nombre: {{ object.excurtion.name }} </p>
			<p> Pais: {{ object.excurtion.study.country.name }} </p>
			<p> Region: {{ object.excurtion.study.region.name }} </p>
			<p> Provincia: {{ object.excurtion.study.distrit.name }} </p>
			<p> Cantidad de Participantes: {{ object.get_amount_competitors }} </p>
			<p> Desde: {{ object.excurtion.date_from }} </p>
			<p> Hasta: {{ object.excurtion.date_to }} </p>
			<p> Cantidad Minima de Participantes: {{ object.excurtion.min_amount }} </p>
			<p> Alta Montania: {{ object.excurtion.study.high_land }} </p>
		</div>
		
		<div class="panel economicos">
			<div class="col">
				<!--<p> Precio: </p>-->
				<p> Precio ${{ object.price }} </p>
				<p> Subtotal: ${{ object.subtotal }} </p>
				<p> Subtotal de Participantes: ${{ object.subtotal_participantes }}</p>
				<p> Subtotal de Organizacion: ${{ object.subtotal_organization }}</p>
				<p> Subtotal (Comida) de Participantes: ${{ object.subtotal_comida_participantes }} </p>
				<p> Subtotal (Comida) de Organizacion: ${{ object.subtotal_comida_organizacion }}</p>
				<p> Facturacion: ${{ object.facturacion }}</p>
				<p> Gastos: ${{ object.gastos }}</p>
				<p> Porcentaje de Ganancia: {{ object.percentage }}%</p>
			</div>
			<div class="col">
				<p> Costo Directo Grupal: ${{ object.costo_directo_grupal }} </p>
				<p> Costo Directo Individual: ${{ object.costo_directo_individual }}</p>
				<p> Costo Indirecto Grupal: ${{ object.costo_indirecto_grupal }}</p>
				<p> Costo Indirecto Individual: ${{ object.costo_indirecto_individual }}</p>
				<p> Costo Final Grupal: ${{ object.costo_final_grupal }}</p>
				<p> Costo Final Individual: ${{ object.costo_final_individual }}</p>
				<p> Utilidad: ${{ object.utilidad }}</p>
				<p> Utilidad por Participante: ${{ object.utilidad_por_participante }}</p>
				<p> Utilidad mas Guiada: $ </p>
			</div>
			<div class="col">
					
					<h2> Cotizador </h2> 
					<menu>
        				<a href="#add-product-quotation-form" class="control">Agregar Cotizacion</a>
      				</menu>
      				<form id="add-product-quotation-form" method="post" action="/product_quotation/add" class="{{form.errors|yesno:'errors,valid'}}" enctype="multipart/form-data">
      				{% csrf_token %}
          					<input type="hidden" name="id_product" id="id_product" value="{{object.id}}" />
            				{{ form_product_quotation.as_p }}
          					<a href="#add-product-quotation-form" class="control">cerrar</a>   
          					<input type="submit" name="Guardar" value="Agregar"/>
      				</form>
				   
					<ul>
						{% for obj in object.product_quotation.all %}
							<li>{{obj}} | <a href=""> editar </a> | <a href="/product_quotation/remove/{{object.id}}/{{obj.id}}"> borrar </a></li> 								
						{% endfor %}
					</ul>
				<form action="/products/quote/{{object.id}}/" method="POST">
				{% csrf_token %}	
					<p> Ganancia: <input type="text" value="" name="ganancia" id="ganancia" /> </p>
					<p> Precio: <input type="text" value="" name="precio" id="precio" /> </p>
					<input type="submit" value="cotizar" name="cotizar"/> 
				</form>
			</div>
			<div class="clear"> </div>
		</div>
		<div style="clear:right;"> </div>
		<div class="title_panel">
			<h4> datos de la excursion </h4>
		</div>
		<div class="title_panel">
			<h4> participantes </h4>
		</div>
		<div class="clear"> </div>
		<div class="panel">
			<p> Descripcion: {{ object.excurtion.description }} </p>
			<p> Servicios Incluidos: {{ object.excurtion.include_services }} </p>
			<p> Servicios No Incluidos: {{ object.excurtion.not_include_services }} </p>
		</div>
		<div class="panel">
			<ul>
				{% for obj in object.competitors.all %}
					<li>{{obj}} | <a href=""> editar </a> | <a href=""> borrar </a> <a href="/clients/{{obj.id}}" TARGET="_blank"> ver </a></li>  								
				{% endfor %}
			</ul>
		</div>
		<div class="clear"> </div>
	
{% endblock %}